body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://img.ibxk.com.br///2021/05/06/06105446360096.jpg?w=1200&h=675&mode=crop&scale=both");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 16px;
}

.page-logo {
    width: 200px;
}

@media (max-height: 500px) {
    body {
        min-height: 800px;
    }
}

input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

.resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
}

.tentativas {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
}

#corpo {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: "url('https://www.researchgate.net/profile/Bruno-Baere-Pedrazzi-Lomba-De-Araujo/publication/261550704/figure/fig7/AS:649316393811971@1531820500732/Figura-53-Tela-de-fim-de-jogo.png')";
    background-color: #000000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}